
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
} 

body {
    height: 100vh;
    width: 100%;
    background: #efd3f1;
    overflow: hidden;
}

/*Preloader */
  #preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#e043b986; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
  }

  #preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
  }

  .bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  }

  .bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
  }

  .bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
  }

  .bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
  }

  @keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}

.container {
    height: 98vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #efd3f1;
    border-radius: 15px;
    box-shadow: 15px 10px 30px rgb(212 0 110 / 53%);
    position: relative;
    top: 1%;
    left: 30%;
    border: 1px solid;
}

.card {
    height: 23vh;
    width: 80%;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d98cb4;
    border-radius: 28px;
}

.logo{
  position: relative;
  left: 40px;
  margin-top: 1vh;
}

.card img {
    height: 115px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(12 9 9 / 82%);
}

.card .content {
    color: #ffffff;
    text-align: center;
    padding: 23px;
}


.controls {
    margin: 10px 0;
    margin-top: 26px;
}

.controls a {
    text-decoration: none;
    margin: 0 10px;
}

.controls .fa {
    color: #f8f6f8;
    height: 60px;
}

#player {
    display: none;
}

.conteudo-segundario {
  margin-top: 35px;
}

.light-mode-button {
  left: 5vh !important;
  top: 7vh !important;
}

.text-dark-light {
  bottom: 25vh !important;
  left: 5vh !important;
}

.conteudo-primario {
  margin-bottom: 5vh;
}

/* BOTÃO DARK MODE*/
.light-mode-button {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 80%;
  width: 100px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
}

.light-mode-button:focus {
  outline: none; 
}

.light-mode-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #d6d7db;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

.light-mode-button span:nth-child(2) {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}


body[light-mode="dark"] {
  background-color: #141516;
  color: #060708;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
  background-color: #ced4e2;
  color: #141516;
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}

body[light-mode="dark"] .bn54 {
  background-color: #ced4e2;
}

body[light-mode="dark"] .container {
  background-color: #363636;
  box-shadow: none;
}

body[light-mode="dark"] h1 {
  color: #eeeeee;
}

body[light-mode="dark"] p {
  color: #a7a6a6;
}

body[light-mode="dark"] .card {
  background-color: #747171;
}


/*BOTAO*/
.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
  
  .bn54 .bn54span {
    font-family: 'Barlow', sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }

@media only screen and (max-device-width: 320px) {

  body {
    overflow: auto;
  }

  .container {
    width: 90%;
    height: 129vh;
    top: 1%;
    left: 4%;
  }

  .conteudo-primario {
    margin-bottom: 5vh;
  }

  .card {
    height: 25%;
    width: 90%;
  }

  .card img {
    height: 91px;
  }

  .content {
    width: 23vh;
    height: 26vh;
  }

  .card .content {
    padding: 0;
  }

  .light-mode-button {
    left: 7vh !important;
    top: 9vh !important;
  }

  .text-dark-light {
    bottom: 30vh !important;
    left: 7vh !important;
  }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 360px) {

  body {
    overflow: auto;
  }

  .container {
    width: 90%;
    height: 107vh;
    top: 1%;
    left: 4%;
  }

  .conteudo-primario {
    margin-bottom: 5vh;
  }

  .card {
    height: 25%;
    width: 90%;
  }

  .card img {
    height: 91px;
  }

  .content {
    width: 23vh;
    height: 26vh;
  }

  .card .content {
    padding: 0;
  }

  .light-mode-button {
    left: 7vh !important;
    top: 9vh !important;
  }

  .text-dark-light {
    bottom: 27vh !important;
    left: 7vh !important;
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 375px) {

  body {
    overflow: auto;
  }

  .container {
    width: 90%;
    height: 103vh;
    top: 1%;
    left: 4%;
  }

  .conteudo-primario {
    margin-bottom: 5vh;
  }

  .card {
    height: 25%;
    width: 90%;
  }

  .card img {
    height: 91px;
  }

  .content {
    width: 23vh;
    height: 26vh;
  }

  .card .content {
    padding: 0;
  }

  .light-mode-button {
    left: 6vh !important;
    top: 9vh !important;
  }

  .text-dark-light {
    bottom: 27vh !important;
    left: 5vh !important;
  }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 420px) {

  body {
    overflow: auto;
  }

  .container {
    width: 90%;
    height: 97vh;
    top: 1%;
    left: 4%;
  }

  .conteudo-primario {
    margin-bottom: 5vh;
  }

  .card {
    height: 25%;
    width: 90%;
  }

  .card img {
    height: 91px;
  }

  .content {
    width: 23vh;
    height: 26vh;
  }

  .card .content {
    padding: 0;
  }

  .light-mode-button {
    left: 6vh !important;
    top: 9vh !important;
  }

  .text-dark-light {
    bottom: 23vh !important;
    left: 5vh !important;
  }
}

